{# {% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/TicketController.php'|file_link(0) }}">src/Controller/TicketController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/templates/ticket/index.html.twig'|file_link(0) }}">templates/ticket/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">


<table class="table">
  <thead>
    <tr class=" table-dark">
      <th scope="col">#</th>
      <th scope="col">Ticket numero</th>
      <th scope="col">Lien</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  {% for ticket in tickets %}
    <tr>
      <th scope="row"> {{ticket.id}}</th>
      <td> {{ticket.label}}</td>
      <td>
        <a class="link" href="{{ path('tickets_show', {ticketId: ticket.id })}}">Voir</a>
      </td>
      <td>
        <a class="btn "><i class="bi bi-trash3-fill text-danger"></i></a>
        <a class="btn"><i class="bi bi-pencil-fill text-danger"></i></a>
      </td>
    
    </tr>
{% endfor %}
  </tbody>
</table>

<a class="btn btn-success mt-2">Ajouter un ticket</a></div>

{% endblock %}